/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

@media screen and (min-width: 1600px)
  .table-of-contents
    position: fixed
    right: 16px
    width: 260px
